In [189]:
import pandas as pd
import numpy as np

In [190]:
# Read Excel file into a DataFrame
df = pd.read_excel('data.xlsx')

# Change column name
df = df.rename(columns={'Unnamed: 0': 'Lesson'})
df = df.rename(columns={'Unnamed: 19': 'Reference'})

# Remove column
df = df.drop(columns=['Lesson'])

In [191]:
# Count the number of columns between X11 and X92

number_of_columns = len(df.loc[:, "X11":"X92"].columns)
print(number_of_columns)

18

In [192]:
# Store the DataFrame reference of A's and I's

total_A = df["Reference"].value_counts()["A"]
total_I = df["Reference"].value_counts()["I"]

print(total_A)
print(total_I)

24
19

In [193]:
# Create chromosome

# Set the seed for reproducibility
#np.random.seed(42)

# Generate 5 random chromosomes
chromosome1 = -1 + 2 * np.random.random(number_of_columns)

In [203]:
# Define function to aply chromosome in each line of the DataFrame
# and return the result (line * chromosome).sum()
def chromo_action(row, chromosome1, trash):
	res = row * chromosome1
	return (res.sum())

# Call the specialized function to iterate over each line.
# trash needed (I don't know why)
df_op = df.loc[:, "X11": "X92"]
trash = None
result = df_op.apply(func=chromo_action, axis=1, args=(chromosome1, trash))

In [202]:
# Creating a new df with reference column

chromo_with_ref = pd.DataFrame({'values': result, 'Reference': 'A'})
chromo_with_ref.loc[result < 0, 'Reference'] = 'I'
chromo_with_ref.head(10)

     values Reference
0  1.287437         A
1  0.253246         A
2 -0.328829         I
3  0.904896         A
4 -0.211999         I
5 -0.886088         I
6  0.897025         A
7  0.136417         A
8 -0.328829         I
9  1.482032         A