In [23]:
import pandas as pd
from source.utils import chromo_action, chromo_count_matches, fitness_calculation

In [24]:
df_test = pd.read_csv("data/oiled_titanic_data_test.csv")
df_test

     x1  x2  x3  x4  x5  x6
0     3   1   4   0   3   3
1     3   0   5   0   3   1
2     2   1   7   0   3   3
3     3   1   3   0   3   1
4     3   0   3   1   3   1
..   ..  ..  ..  ..  ..  ..
413   3   1   4   0   3   1
414   1   0   4   0   3   2
415   3   1   4   0   3   1
416   3   1   4   0   3   1
417   3   1   4   1   3   2

[418 rows x 6 columns]

In [25]:
the_chosen_chromosome = pd.read_pickle("the_chosen_chromosome.pkl")
the_chosen_chromosome

0   -0.437429
1    0.427563
2    0.707125
3   -0.392978
4    0.131550
5   -0.488244
6    0.893099
Name: chromo 1, dtype: float64

In [26]:
the_chosen_chromosome_body = the_chosen_chromosome[1:].values
print(the_chosen_chromosome_body)
scalar = the_chosen_chromosome[0]
print(scalar)

[ 0.42756315  0.70712499 -0.39297776  0.13154979 -0.48824368  0.89309915]
-0.4374287147884257

In [27]:
chromo_result = df_test.apply(func=chromo_action, axis=1, args=(the_chosen_chromosome_body, scalar))
chromo_result

0      1.195041
1     -1.691260
2     -0.411455
3     -0.198179
4     -0.773755
         ...
413   -0.591157
414   -1.260309
415   -0.591157
416   -0.591157
417    0.433492
Length: 418, dtype: float64

In [28]:
test_result = chromo_result.apply(lambda x: 'green' if x > 0 else 'red')
test_result

0      green
1        red
2        red
3        red
4        red
       ...
413      red
414      red
415      red
416      red
417    green
Length: 418, dtype: object