In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/gender_submission.csv")
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [8]:
passengerid = df["PassengerId"]
passengerid

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [5]:
test_result = pd.read_pickle("test_result.pkl")
test_result

0        red
1        red
2        red
3        red
4      green
       ...
413      red
414    green
415      red
416      red
417      red
Length: 418, dtype: object

In [7]:
test_result = test_result.apply(lambda x: 1 if x == "green" else 0)
test_result

0      0
1      0
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Length: 418, dtype: int64

In [11]:
df_to_kaggle = pd.DataFrame({'PassengerId': passengerid, 'Survived': test_result})
df_to_kaggle.to_csv("data/kaggle_submission.csv", index=False)